<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragments/generalAdmin.html :: head}">
</head>
<body>
<!-- Admin Header -->
<div th:replace="~{fragments/generalAdmin.html :: header}">

</div>

<!-- Admin Main Content -->
<div class="container-fluid" >
    <div class="row" >
        <!-- Sidebar -->
        <nav th:replace="~{fragments/generalAdmin.html :: sidebar}">

        </nav>

        <!-- Main Content -->
        <main
                role="main"
                class="col-lg-10 col-md-9 col-8 px-4 admin-content"

        >
            <!-- Page content  -->
            <h2>Categories</h2>

            <!-- Button trigger modal for adding a new category -->

            <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                    data-target="#addCategoryModal"><i class="fas fa-plus"></i>Add Category</button>


            <!-- Category List Table -->
            <div class="outer-wrapper">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="category:${categories}">
                        <td th:utext="${category.id_category}"></td>
                        <td th:utext="${category.name_category}"></td>
                        <td>
                            <a th:href="@{'/admin/Category/editCategory/'+${category.id_category}}"class="btn btn-sm btn-warning">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a th:href="@{'/deleteCategory/'+${category.id_category}}" class="btn btn-sm btn-danger" id="deleteBtn">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <!-- Modals for CRUD operations -->
            <!-- Add Category Modal -->



            <div class="modal fade" id="addCategoryModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
                <form th:action="@{/saveCategory}" th:object="${Category}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCategoryLabel">New Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="name_category" class="col-form-label">Nom_Category</label>
                                    <input type="text" class="form-control" id="name_category" name="name_category">
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">SAVE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Delete Category Modal -->
                <div class="modal" tabindex="-1" role="dialog" id="deleteCategoryModal">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Supprimer Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                               <p>Êtes-vous sûr de supprimer les données</p>

                            </div>
                            <div class="modal-footer">
                                <a id="confirmDeleteButton"  href="" class="btn btn-primary">OUI,SUPPRIMER</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                            </div>
                        </div>
                    </div>

                </div>

        </main>

    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>



