<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragments/generalAdmin.html :: head}">
</head>
<body>
<!-- Admin Header -->
<div th:replace="~{fragments/generalAdmin.html :: header}">

</div>

<!-- Admin Main Content -->
<div class="container-fluid" >
    <div class="row" >
        <!-- Sidebar -->
        <nav th:replace="~{fragments/generalAdmin.html :: sidebar}">

        </nav>

        <!-- Main Content -->
        <main
                role="main"
                class="col-lg-10 col-md-9 col-8 px-4 admin-content"

        >
            <!-- Page content  -->
            <h2>Liste de l'Appointement </h2>




            <!-- User List Table -->
            <div class="outer-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                           <td></td>
                            <td>
                                <a  href="#" class="btn btn-sm btn-warning">
                                    <i class="fas fa-edit"></i> Edit
                                </a>

                                <a  href="#" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modals for CRUD operations -->

        </main>

    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>



