<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/general.html :: head}">
    <title th:text="${pageTitle}">EverGlowsyStudio-Page-RDV</title>
</head>
<body>
<nav
        th:replace="~{fragments/general.html :: navbar}">
</nav>
<div class="container my-5">
    <!--<p>Service ID: <span th:text="${service.id_service}"></span></p>
    <p>User ID: <span th:text="${user.id_user}"></span></p>-->

    <form th:action="@{/saveAppointment}" th:object="${appointmentModel}" method="post">
        <input type="hidden" th:field="*{serviceHandledModel.id_service}" th:value="${service.id_service}" />
        <input type="hidden" th:field="*{userModel.id_user}" th:value="${user.id_user}" />

        <div class="row my-1">
            <div class="col-sm-10 mx-auto my-5">
                <h2>1. Choix de la prestation</h2>
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <h5 class="card-title" th:text="${service.name_service}"></h5>
                        <div class="d-flex">
                            <p class="card-text">
                                <span th:text="${service.price +'&#8364;'}" class="price"></span>
                            </p>
                            <div>
                                <p class="card-text">
                                    <span th:text="${service.time_service + 'mins'}" class="time"></span>
                                </p>

                            </div>
                            <div>
                                <a href="/" class="btn btn-secondary">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-5 my-5">
            <div class="col-lg-6 col-sm-12 col-md-6 justify-content-center">
                <div class="card">
                    <h2>2. Choix de la date:</h2>
                    <input type="text" id="datepicker" th:field="*{date_appointment}" />
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 justify-content-center">
                <div class="card">
                    <h2>3. Choix de l'heure:</h2>
                    <select id="timeSlotSelect" th:field="*{time_appointment}">
                        <!-- Options will be generated dynamically using JavaScript data-date-format="yyyy-MM-dd" -->
                    </select>
                </div>
            </div>
        </div>

        <div class="row mx-5 my-5">
            <div class="col text-center">

                <button type="submit" class="btn" id="btnId">Soumettre</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/general.html :: footer}"></footer>

<script>
    $(function () {
        function isWorkingDay(date) {
            var day = date.getDay();
            return day !== 0 && day !== 6;
        }

        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            beforeShowDay: function (date) {
                var isWeekday = isWorkingDay(date);
                var isNotPast = !isPastDate(date);
                return [isWeekday && isNotPast, ""];
            }
        });

        function isPastDate(date) {
            var today = new Date();
            today.setHours(0, 0, 0, 0);
            return date < today;
        }
    });

    function generateTimeSlots(startHour, endHour, intervalMinutes) {
        var select = document.getElementById("timeSlotSelect");
        select.innerHTML = "";

        for (var hour = startHour; hour <= endHour; hour++) {
            for (var minute = 0; minute < 60; minute += intervalMinutes) {
                var time = ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2);
                var option = new Option(time, time);
                select.appendChild(option);
            }
        }
    }

    generateTimeSlots(10, 19, 15);


</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>