<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head
        th:replace="~{fragments/general.html :: head}">
    <title>EverGlowsyLoginPage</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" >
    <div class="container">
        <a class="navbar-brand" href="#"
        ><img class="d-inline-block align-top"
              th:src="@{images/E-bigblue.png}"
              width="60"
              height="60"

              alt="logo"
        />
            Everglowsy studio</a
        >
    </div>
</nav>
     <div class="logincontainer">
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading">LOGIN </h2>
        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="email" type="email" class="form-control" placeholder="Saisissez votre email" autofocus="true" />

            <div class="password-wrapper">
                <input id="password" name="password" type="password" class="form-control" placeholder="Saisissez votre mot de passe" />
                <i class="toggle-password fas fa-eye" onclick="togglePasswordVisibility()"></i>
            </div>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

            <button class="btn btn-lg btn-block" type="submit" id="btnBlue">Se Connecter</button>
            <h4 class="text-center"><a href="/signup"><strong>Créer Un Compte</strong></a></h4>
        </div>
    </form>
</div>
<!-- footer starts   -->
<footer
        th:replace="~{fragments/general.html :: footer}">
</footer>
<!-- footer ends -->

<script th:src="@{js/main.js}"> </script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

</body>
</html>
